language: python

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8

matrix:
  include:
    - os: linux
      sudo: false
      python: 2.7
    - os: linux
      sudo: false
      python: 3.5
    - os: osx
      language: generic

install:
  - export CXX=g++-4.8
  - export CC=gcc-4.8
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; brew install python; fi
  - pip install pyflakes pep8 coverage coveralls nose

script:
  - pyflakes .
  - pep8 .
  - nosetests
  - coveralls
